.back {
  position: relative;
  width: 555px;
  height: 445px;
  background: url('../camisa_costas.png') center top no-repeat;
  float: left;
  padding-top: 78px;

  #img_back {
    position: absolute;
    left: 140px;
  }
}