.preview {
  position: relative;
  width: 395px;
  height: 500px;
  background: center top no-repeat;
  float: left;
  padding-top: 78px;
  box-sizing: border-box;

  #img_preview {
    position: absolute;
    top: 0;
    left: 0;
  }
}