.front {
  position: relative;
  width: 555px;
  height: 445px;
  background: url('../camisa_frente.png') center top no-repeat;
  float: left;
  padding-top: 78px;

  #img_front {
    position: absolute;
    left: 50%;
  }
}