.main {
  padding: 10px;

  .watermark {
    position: absolute;
    width: 1400px;
    left: 50%;
    margin-left: -700px;
    opacity: .2;
    z-index: 3;
  }

  .mockup {
    white-space: nowrap;
    margin: auto;
    width: 1110px;
    height: 445px;
  }

  .color {
    margin: 20px auto;
    text-align: center;
    clear: both;

    label {
      margin-right: 10px;
      font-size: 14px;
    }
  }

  .right {
    float: right;
    text-align: right;
    padding-bottom: 10px;
  }

  .left {
    float: left;
    padding-bottom: 10px;
  }

  .preview_bar {
    width: 70px;
    display: block;
    margin: 10px auto;
  }
}
