.main {
  padding: 10px;

  .info {
    list-style: none;
    text-align: center;

    li {
      display: inline-block;
      margin: 0 10px;

      .client {
        margin: auto;
        display: block;
        font-size: 16px;
        padding: 5px;
        height: 10px;
      }

      .color, .type {
        margin: 20px auto;
        text-align: center;
        clear: both;
    
        label {
          margin-right: 10px;
          font-size: 14px;
        }
      }
    }
  }

  .print {
    display: block;
    text-align: right;
    clear: both;
    width: 100%;
    padding-right: 30px;
    box-sizing: border-box;
    color: #000;
    font-size: 20px;
    text-decoration: none;
  }

  #canvas {
    float: left;
    width: 100%;
  }

  .watermark {
    position: absolute;
    width: 1400px;
    left: 50%;
    margin-left: -700px;
    opacity: 0.3;
    z-index: 999;
  }

  .mockup {
    white-space: nowrap;
    margin: auto;
    width: 790px;
    height: 500px;
  }

  .right {
    float: right;
    text-align: right;
    padding-bottom: 10px;
  }

  .left {
    float: left;
    padding-bottom: 10px;
  }

  .preview_bar {
    width: 70px;
    display: block;
    margin: 10px auto;
  }
}
